---
layout: default
title: "Ruairí O'Donohoe"
---

<img 
  src="https://github.com/ruairiodonohoe.png" 
  alt="Profile photo" 
  width="200" 
  height="200" 
  style="border-radius:50%; object-fit:cover;"
/>

<div style="text-align: justify;">
  <h1>About Me</h1>
  <p>
    <a href="https://www.linkedin.com/in/ruairi-o-donohoe-4a74632a5" target="_blank" rel="noopener noreferrer">LinkedIn</a> | 
    <a href="https://github.com/ruairiodonohoe" target="_blank" rel="noopener noreferrer">GitHub</a>
  </p>
  <p>Results-driven Data Engineer / Analyst with specialised expertise in Pharmacy and Healthcare data ecosystem.  
    Strong background in ETL process, Python, SQL and ML/Deep Learning.  
    Originally trained as a physiotherapist, I transitioned to Data Analytics, after recognising the importance of data-driven decision-making in healthcare clinical research.
    I have a proven record of developing and orchestrating ETL pipelines, and developing and training machine learning and deep learning models.
    My commitment to self-improvement and curiosity to learn continually encourage me to expand my skill-set with the aim of better understanding all aspects of the data ecosystem.  
    I am a strong communicator adept at collaborating across multidisciplinary teams.  </p>
</div>

<br><hr>

<h1>Professional Development</h1>
<div style="text-align: justify;">
  <p>I am primarily focused on developing expertise in Data Analytics and ML / Deep Learning.
    However, I am also interested in building a broad skill set across the data ecosystem, enabling me to develop effective and efficient solutions.
    My current learning is centred around Kedro and Apache Airflow.  
    Below is a list of books and courses that I have completed to facilitate my professional development. For further information, the relevant link to the source is included.</p>
</div>

<br><hr>

<div class="tabs">
  <button class="tablink" onclick="openTab('Books')">Books</button>
  <button class="tablink" onclick="openTab('Courses')">Courses</button>
</div>

<br>

<div id="Books" class="tabcontent" style="display:block">
  <h2>Books</h2>
  <p></p>
  {% for category in site.data.reading %}
    {% assign category_name = category[0] %}
    {% assign books = category[1] %}

    <h4>{{ category_name }}</h4>
    <ul>
      {% for book in books %}
        <li><a href="{{ book.url }}">{{ book.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<div id="Courses" class="tabcontent" style="display:none">
  <h2>Courses</h2>
  
  <p>CC - Codecademy  |  KA - Khan Academy</p>

  {% for category in site.data.courses %}
    {% assign category_name = category[0] %}
    {% assign courses = category[1] %}
    <h4>{{ category_name }}</h4>
    <ul>
      {% for course in courses %}
          <li><a href={{ course.url }}>{{ course.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<script>
function openTab(tabName) {
  var i, x;
  x = document.getElementsByClassName("tabcontent");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(tabName).style.display = "block";
}
</script>
