---
layout: default
title: "Ruairí O'Donohoe"
---

<img 
  src="https://github.com/ruairiodonohoe.png" 
  alt="Profile photo" 
  width="200" 
  height="200" 
  style="border-radius:50%; object-fit:cover;"
/>

<div style="text-align: justify;">
  <h1>About Me</h1>
  <p>Results-driven Data Analyst with a strong background in Python, SQL and machine learning.
    Originally trained as a physiotherapist, I transitioned to Data Analytics, after recognising the importance of data-driven decision-making in healthcare clinical research.
    My work experience to date encompasses data analysis, training deep learning models, and developing ETL pipelines.
    My passion for self-improvement and curiosity to learn continually encourage me to expand my skill-set with the aim of better understanding the end-to-end data ecosystem.
    I am a strong communicator adept at collaborating across multidisciplinary teams.
    I am enthusiastic about leveraging the power of data to help develop solutions to real-world problems. </p>
  <p>For my work history, please see <a href="https://www.linkedin.com/in/ruairi-o-donohoe-4a74632a5" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
</div>

<br><hr>

<h1>Professional Development</h1>
<div style="text-align: justify;">
  <p>I am primarily focused on developing expertise in Data Analytics and ML / Deep Learning.
    However, I am also interested in building a broad skill set across the data ecosystem, enabling me to develop effective and efficient solutions.
    Please see below a list of books and courses that I have completed to facilitate my professional development.</p>
</div>

<br><hr>

<div class="tabs">
  <button class="tablink" onclick="openTab('Books')">Books</button>
  <button class="tablink" onclick="openTab('Courses')">Courses</button>
</div>

<br>

<div id="Books" class="tabcontent" style="display:block">
  <h2>Books</h2>
  {% for category in site.data.reading %}
    {% assign category_name = category[0] %}
    {% assign books = category[1] %}

    <h4>{{ category_name }}</h4>
    <ul>
      {% for book in books %}
        <li><a href="{{ book.url }}">{{ book.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<div id="Courses" class="tabcontent" style="display:none">
  <h2>Courses</h2>
  
  <p>CC - Codecademy  |  KA - Khan Academy</p>

  {% for category in site.data.courses %}
    {% assign category_name = category[0] %}
    {% assign courses = category[1] %}
    <h4>{{ category_name }}</h4>
    <ul>
      {% for course in courses %}
          <li><a href={{ course.url }}>{{ course.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<script>
function openTab(tabName) {
  var i, x;
  x = document.getElementsByClassName("tabcontent");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(tabName).style.display = "block";
}
</script>
